Repository Esysc/wordpress_agenda: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcs, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for ACS Agenda Manager
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(lang/.*\.mo|css/images/)
      - id: end-of-file-fixer
        exclude: ^(lang/.*\.mo|css/images/)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # PHP Syntax Check
  - repo: https://github.com/digitalpulp/pre-commit-php
    rev: 1.4.0
    hooks:
      - id: php-lint
        files: \.php$

  # PHP CodeSniffer (WordPress Coding Standards)
  # Requires: composer global require squizlabs/php_codesniffer wp-coding-standards/wpcs
  # Then: phpcs --config-set installed_paths ~/.composer/vendor/wp-coding-standards/wpcs
  # Skip this hook if phpcs is not installed by setting SKIP=phpcs
  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: bash -c 'command -v phpcs >/dev/null 2>&1 && phpcs "$@" || echo "phpcs not installed, skipping..." && exit 0' --
        language: system
        files: \.php$
        args:
          - --standard=phpcs.xml
          - --colors
          - -s
        pass_filenames: true

  # JavaScript/CSS linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-beta.0
    hooks:
      - id: eslint
        files: \.(js|jsx)$
        additional_dependencies:
          - eslint@8.56.0
          - eslint-config-wordpress@2.0.0

  # Prettier for consistent formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --check "$@" 2>/dev/null || true' --
        language: system
        types_or: [css, javascript]
        exclude: ^css/images/

  # Check for secrets/credentials
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(lang/.*|test/)

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: \.sh$

# Configuration
default_language_version:
  python: python3
  node: '18.19.0'

add build script with GitHub release support
  build.sh
Due: none

update release script
  build.sh
Due: none

fix css and calendar issues
  acs-agenda-manager.php
  class/class-acs-event.php
  class/class-acs-template.php
  css/acs.css
  js/acs-admin.js
  js/acs-frontend.js
  js/jquery-ui-multidatespicker.min.js
  templates/admin-page.php
  test/e2e/tests/calendar.spec.ts
  test/start.sh
Due: phpcs, prettier

Release v3.2.0
  CHANGELOG.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

Release 3.3.0: Admin improvements, CSS refactoring, Japanese language
  CHANGELOG.md
  acs-agenda-manager.php
  class/class-acs-admin.php
  css/acs-admin.css
  css/acs-common.css
  css/acs.css
  js/acs-admin.js
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_CH.mo
  lang/acs-agenda-manager-fr_CH.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_CH.mo
  lang/acs-agenda-manager-it_CH.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  readme.txt
  templates/admin-page.php
Due: phpcs, prettier

preparing CI for wordpress release
  .distignore
  .github/workflows/deploy-to-wordpress-org.yml
  .wordpress-org/README.md
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
  readme.txt
  test/docker-compose.yml
  test/e2e/package-lock.json
  test/e2e/package.json
  test/e2e/screenshots.ts
  test/e2e/tsconfig.json
  test/generate-screenshots.sh
  test/wp-cli/setup.sh
Due: none

Release 3.3.1 - WordPress.org deployment automation
  CHANGELOG.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

Address WordPress.org plugin review feedback
  .eslintrc.json
  acs-agenda-manager.php
  build.sh
  class/class-acs-admin.php
  class/class-acs-database.php
  class/class-acs-event.php
  class/class-acs-help.php
  class/class-acs-options.php
  class/class-acs-template.php
  css/acs-help.css
  js/acs-admin.js
  readme.txt
  templates/admin-page.php
  templates/help-page.php
  templates/settings-page.php
Due: phpcs, prettier

Address WordPress.org plugin review feedback
  class/class-acs-template.php
Due: phpcs

Address WordPress.org plugin review feedback
  acs-agenda-manager.php
  class/class-acs-admin.php
  templates/help-page.php
Due: phpcs

Fix nonce name in admin event form
  templates/admin-page.php
Due: phpcs

Fix duplicate class initialization and syntax error
  class/class-acs-admin.php
  class/class-acs-options.php
Due: phpcs

remove debug logs
  js/acs-admin.js
Due: prettier

Fix menu slug references in JavaScript and E2E tests after prefix rename
  js/acs-admin.js
  test/e2e/tests/calendar.spec.ts
  test/e2e/tests/events.spec.ts
  test/e2e/tests/fixtures.ts
  test/e2e/tests/frontend.spec.ts
  test/e2e/tests/search-filter.spec.ts
Due: prettier

preparing release v3.3.2
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

add plugin checker installation and keep worpress test container cleaner
  test/start.sh
  test/wp-cli/setup.sh
Due: none

fix globals names
  templates/help-page.php
Due: phpcs

preparing release 3.3.3
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

Fix: Prefix shortcode name and complete translations for WordPress.org compliance
  README.md
  acs-agenda-manager.php
  class/class-acs-options.php
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_CH.mo
  lang/acs-agenda-manager-fr_CH.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_CH.mo
  lang/acs-agenda-manager-it_CH.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  readme.txt
  templates/help-page.php
  templates/settings-page.php
  test/e2e/screenshots.ts
  test/e2e/tests/search-filter.spec.ts
Due: phpcs

Improve admin menu branding: rename Agenda to 'ACS Agenda'
  class/class-acs-admin.php
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
Due: phpcs

fix tests and improve coverage
  test/e2e/tests/advanced-fields.spec.ts
  test/e2e/tests/fixtures.ts
  test/e2e/tests/frontend.spec.ts
  test/e2e/tests/help.spec.ts
  test/e2e/tests/image-management.spec.ts
  test/e2e/tests/search-filter.spec.ts
  test/e2e/tests/settings.spec.ts
  test/e2e/tests/validation.spec.ts
Due: none

preparing release 3.3.4
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

< markdownlint-disable MD024 --> for changelog.md
  CHANGELOG.md
Due: none

Fix upload-release-asset
  .github/workflows/deploy-to-wordpress-org.yml
Due: none

Add plugin icond and banner
  .github/workflows/update-wordpress-assets.yml
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
Due: none

run update assets on demand
  .github/workflows/update-wordpress-assets.yml
Due: none

Add supported languages to readme, update workflows
  readme.txt
Due: none

add type node
  acs-agenda-manager.php
  test/e2e/package-lock.json
  test/e2e/package.json
Due: phpcs

add translation tests
  test/e2e/tests/languages.spec.ts
Due: none

add clesnup for people uninstalling the plugin
  acs-agenda-manager.php
  class/class-acs-options.php
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_CH.mo
  lang/acs-agenda-manager-fr_CH.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_CH.mo
  lang/acs-agenda-manager-it_CH.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  templates/settings-page.php
  uninstall.php
Due: phpcs

setup supported languages
  lang/acs-agenda-manager-fr_CH.mo
  lang/acs-agenda-manager-fr_CH.po
  lang/acs-agenda-manager-it_CH.mo
  lang/acs-agenda-manager-it_CH.po
  readme.txt
  test/e2e/tests/languages.spec.ts
  test/wp-cli/setup.sh
  uninstall.php
Due: phpcs

escape all sql commands and ensure uninstall.php in build
  build.sh
  uninstall.php
Due: phpcs

Release 3.4.0
  CHANGELOG.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

feat: add renovate configuration for docker and dependency updates
  renovate.json
Due: none

fix: enable docker-compose scanning in renovate config
  renovate.json
Due: none

fix: remove invalid compose configuration option
  renovate.json
Due: none

Prepare WordPress 7.0 test environment and fix local stack startup
  readme.txt
  test/README.md
  test/docker-compose.yml
  test/e2e/package-lock.json
  test/wp-cli/setup.sh
Due: none

Fix event count filters to match list query
  class/class-acs-database.php
Due: phpcs

Support safe sorting in events list queries
  class/class-acs-database.php
Due: phpcs
