Repository Esysc/wordpress_agenda: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcs, prettier

phpcs:
  name: PHP CodeSniffer
  entry: bash -c 'command -v phpcs >/dev/null 2>&1 && phpcs "$@" || echo "phpcs not installed, skipping..." && exit 0' --
  language: system
  args:
  - --standard=phpcs.xml
  - --colors
  - -s
  pass_filenames: true

prettier:
  name: prettier
  entry: bash -c 'npx prettier --check "$@" 2>/dev/null || true' --
  language: system

Remove global locale mutation from plugin runtime
  acs-agenda-manager.php
Due: phpcs

Require capabilities for delete admin actions
  class/class-acs-admin.php
Due: phpcs

Fix selected attribute rendering in event filter
  class/class-acs-admin.php
Due: phpcs

Remove duplicate nonce check in settings save
  class/class-acs-options.php
Due: phpcs

Preserve agenda page when renaming settings
  class/class-acs-options.php
Due: phpcs

Stabilize Playwright login detection in global setup
  test/e2e/global-setup.ts
Due: none

Hide Read more when no extra content and add E2E coverage
  class/class-acs-template.php
  test/e2e/tests/frontend.spec.ts
Due: phpcs

Fix Read more click flow and strengthen frontend E2E coverage
  js/acs-frontend.js
  test/e2e/global-setup.ts
  test/e2e/tests/frontend.spec.ts
Due: prettier

Improve Read more UX and stabilize frontend image test
  class/class-acs-template.php
  css/acs.css
  js/acs-frontend.js
  test/e2e/tests/frontend.spec.ts
Due: phpcs, prettier

Add agenda filters, pagination, sorting, compact mode, and UX E2E coverage
  acs-agenda-manager.php
  class/class-acs-template.php
  css/acs.css
  js/acs-frontend.js
  test/e2e/tests/frontend.spec.ts
Due: phpcs, prettier

Add translations for new agenda toolbar and pagination strings
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
Due: none

Complete manual locale translations and rebuild MO files
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
Due: none

Improve admin UX copy/accessibility and update locale translations
  class/class-acs-admin.php
  css/acs-admin.css
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  templates/admin-page.php
  templates/help-page.php
  templates/settings-page.php
Due: phpcs, prettier

Restore WordPress-style POT header metadata
  lang/acs-agenda-manager.pot
Due: none

Stabilize frontend E2E helpers and remove fixed sleeps
  test/e2e/tests/frontend.spec.ts
Due: none

Replace optional chaining in frontend pagination scroll
  js/acs-frontend.js
Due: prettier

Fix locale-sensitive tests and filter/rendering bugs
  class/class-acs-admin.php
  class/class-acs-database.php
  class/class-acs-event.php
  js/acs-frontend.js
  test/e2e/tests/events.spec.ts
  test/e2e/tests/fixtures.ts
  test/e2e/tests/frontend.spec.ts
  test/e2e/tests/help.spec.ts
  test/e2e/tests/languages.spec.ts
  test/e2e/tests/settings.spec.ts
  test/e2e/tests/validation.spec.ts
Due: phpcs, prettier

Perf/a11y: windowed pagination, last_date_ts DB pre-filter, aria fixes
  acs-agenda-manager.php
  class/class-acs-database.php
  class/class-acs-event.php
  class/class-acs-template.php
  js/acs-frontend.js
Due: phpcs, prettier

Fixes from Copilot review: event card date, max_events filter, a11y, locale reset
  class/class-acs-event.php
  class/class-acs-template.php
  css/acs-admin.css
  test/e2e/tests/languages.spec.ts
Due: phpcs, prettier

Fix week/month date-range filters excluding today's events
  js/acs-frontend.js
Due: prettier

Update CHANGELOG and readme.txt for 3.5.0 release
  CHANGELOG.md
  readme.txt
Due: none

Fix Contributors field: remove invalid WordPress.org username esysc
  readme.txt
Due: none

Refine admin calendar UX and translations
  README.md
  acs-agenda-manager.php
  css/acs-admin.css
  js/acs-admin.js
  js/jquery-ui-multidatespicker.min.js
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  readme.txt
  templates/admin-page.php
Due: phpcs, prettier

Stabilize E2E locale and modal tests
  README.md
  readme.txt
  test/e2e/global-setup.ts
  test/e2e/tests/calendar.spec.ts
  test/e2e/tests/fixtures.ts
  test/e2e/tests/frontend.spec.ts
  test/wp-cli/setup.sh
Due: none

Align help guide wording and translations
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  templates/help-page.php
Due: phpcs

Complete agenda modal and help updates
  acs-agenda-manager.php
  class/class-acs-admin.php
  class/class-acs-database.php
  class/class-acs-options.php
  css/acs-admin.css
  js/acs-admin.js
  templates/admin-page.php
Due: phpcs, prettier

Address PR review feedback and revalidate tests
  README.md
  acs-agenda-manager.php
  js/acs-admin.js
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  test/e2e/global-setup.ts
  test/wp-cli/setup.sh
Due: phpcs, prettier

Apply remaining review fixes and hardening
  class/class-acs-database.php
  class/class-acs-event.php
  js/acs-admin.js
Due: phpcs, prettier

Apply final review and translation fixes
  css/acs-admin.css
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
Due: prettier

Release 3.5.1
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  js/acs-admin.js
  readme.txt
  test/e2e/tests/calendar.spec.ts
  test/e2e/tests/frontend.spec.ts
Due: phpcs, prettier

Add WordPress.org Playground blueprint
  .wordpress-org/blueprints/blueprint.json
Due: none

Harden blueprint seed inserts for strict SQL mode
  .wordpress-org/blueprints/blueprint.json
Due: none

Simplify blueprint by relying on activation hooks
  .wordpress-org/blueprints/blueprint.json
Due: none

Escape blueprint table LIKE pattern
  .wordpress-org/blueprints/blueprint.json
Due: none

Refactor blueprint seeding to use plugin API
  .wordpress-org/blueprints/blueprint.json
Due: none

Remove activatePlugin from wp.org blueprint
  .wordpress-org/blueprints/blueprint.json
Due: none

Fix blueprint: install plugin before seeding events
  .wordpress-org/blueprints/blueprint.json
Due: none

Enable networking for installPlugin step in blueprint
  .wordpress-org/blueprints/blueprint.json
Due: none

Make wp.org blueprint seeding independent from plugin load order
  .wordpress-org/blueprints/blueprint.json
Due: none

Fix upcoming events filtering for SQLite compatibility
  class/class-acs-event.php
Due: phpcs

Path conditions:
  phpcs: any of: \.php$
  prettier: any of: \.css$, \.(js|mjs|cjs)$, but not: ^css/images/
