Repository Esysc/wordpress_agenda: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcs, prettier

.pre-commit-config.yaml:

# Pre-commit hooks for ACS Agenda Manager
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(lang/.*\.mo|css/images/)
      - id: end-of-file-fixer
        exclude: ^(lang/.*\.mo|css/images/)
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # PHP Syntax Check
  - repo: https://github.com/digitalpulp/pre-commit-php
    rev: 1.4.0
    hooks:
      - id: php-lint
        files: \.php$

  # PHP CodeSniffer (WordPress Coding Standards)
  # Requires: composer global require squizlabs/php_codesniffer wp-coding-standards/wpcs
  # Then: phpcs --config-set installed_paths ~/.composer/vendor/wp-coding-standards/wpcs
  # Skip this hook if phpcs is not installed by setting SKIP=phpcs
  - repo: local
    hooks:
      - id: phpcs
        name: PHP CodeSniffer
        entry: bash -c 'command -v phpcs >/dev/null 2>&1 && phpcs "$@" || echo "phpcs not installed, skipping..." && exit 0' --
        language: system
        files: \.php$
        args:
          - --standard=phpcs.xml
          - --colors
          - -s
        pass_filenames: true

  # JavaScript/CSS linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-beta.0
    hooks:
      - id: eslint
        files: \.(js|jsx)$
        additional_dependencies:
          - eslint@8.56.0
          - eslint-config-wordpress@2.0.0

  # Prettier for consistent formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'npx prettier --check "$@" 2>/dev/null || true' --
        language: system
        types_or: [css, javascript]
        exclude: ^css/images/

  # Check for secrets/credentials
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(lang/.*|test/)

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        files: \.sh$

# Configuration
default_language_version:
  python: python3
  node: '18.19.0'

Revert "Fix upcoming events filtering for SQLite compatibility"
  class/class-acs-event.php
Due: phpcs

Add Playground mu-plugin shim for frontend agenda preview
  .wordpress-org/blueprints/blueprint.json
Due: none

Use template-based markup in Playground preview shim
  .wordpress-org/blueprints/blueprint.json
Due: none

Seed linked detail pages for Read more in preview events
  .wordpress-org/blueprints/blueprint.json
Due: none

Backfill missing demo event links for Read more
  .wordpress-org/blueprints/blueprint.json
Due: none

add close button modal test
  test/e2e/tests/frontend.spec.ts
Due: none

Fix inline dialog handlers
  class/class-acs-admin.php
  class/class-acs-template.php
  js/acs-admin.js
  js/acs-frontend.js
Due: phpcs, prettier

Remove obsolete ACScontactform integration
  README.md
  class/class-acs-admin.php
  class/class-acs-template.php
  js/acs-admin.js
  readme.txt
  test/e2e/tests/advanced-fields.spec.ts
  test/e2e/tests/frontend.spec.ts
Due: phpcs, prettier

Prepare release 3.5.2
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

Fix lightbox test selector
  test/e2e/tests/frontend.spec.ts
Due: none

feat: complete contact form UX, validation, i18n and e2e coverage
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  class/class-acs-help.php
  class/class-acs-options.php
  class/class-acs-template.php
  css/acs.css
  js/acs-frontend.js
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  readme.txt
  templates/help-page.php
  templates/settings-page.php
  test/e2e/tests/frontend.spec.ts
  test/e2e/tests/settings.spec.ts
Due: phpcs, prettier

chore(release): 3.6.0
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  readme.txt
Due: phpcs

fix: address review comments for contact mode, i18n, and docs
  CHANGELOG.md
  README.md
  acs-agenda-manager.php
  class/class-acs-template.php
  lang/acs-agenda-manager-de_CH.mo
  lang/acs-agenda-manager-de_CH.po
  lang/acs-agenda-manager-de_DE.mo
  lang/acs-agenda-manager-de_DE.po
  lang/acs-agenda-manager-fr_FR.mo
  lang/acs-agenda-manager-fr_FR.po
  lang/acs-agenda-manager-it_IT.mo
  lang/acs-agenda-manager-it_IT.po
  lang/acs-agenda-manager-ja.mo
  lang/acs-agenda-manager-ja.po
  lang/acs-agenda-manager.pot
  readme.txt
  templates/help-page.php
Due: phpcs

fix: address remaining review comments
  css/acs.css
  js/acs-frontend.js
  lang/acs-agenda-manager.pot
  test/e2e/tests/settings.spec.ts
Due: prettier

fix: finalize review follow-ups
  acs-agenda-manager.php
  lang/acs-agenda-manager.pot
  readme.txt
  test/e2e/tests/settings.spec.ts
Due: phpcs

chore: bump Tested up to to 7.1 for WordPress 7.1 compatibility
  readme.txt
  test/README.md
  test/docker-compose.yml
Due: none

chore: add 3.6.1 changelog entry for WordPress 7.1 compatibility
  CHANGELOG.md
Due: none

chore(release): 3.6.1
  acs-agenda-manager.php
  readme.txt
Due: phpcs

fix: correct MariaDB version in test README to match docker-compose.yml
  test/README.md
Due: none

fix: add 3.6.1 changelog entry to readme.txt
  readme.txt
Due: none

chore: bump version strings to 3.6.1 in README badge and POT file
  README.md
  lang/acs-agenda-manager.pot
Due: none
